* {
  padding: 0;
  margin: 0;
}

.cabecalho {
  background-color: #f18238;
  grid-area: cabecalho;
}

.menu{
  background-color: #73db70;
  grid-area: menu;
}

.secao-principal {
  background-color: #ee9898;
  grid-area: secao-principal;
}

.aside{
  background-color: #f1e207;
  grid-area: aside;
}

.rodape {
  background-color: #e7828a;
  grid-area: rodape;
}

.container{
  display: grid;

  grid: 
    "cabecalho cabecalho cabecalho"50px
    "menu secao-principal aside" 150px
    "rodape rodape rodape" 200px / 162px auto 162px
     
}